.main{
    width: 100%;
    height: 300px;
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    width: 400px;
    height: 250px;
    background: lightpink;
  }
  
  .box{
    width: 50px;
    height: 50px;
    background: black;
    margin: 50px;
  }
  
  .topRow {
    height: 50%;
  }
  
  .bottomRow {
    height: 50%;
    
  }

  .topRow, .bottomRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px){
    .box {
      background-color: #AFD8E5;
    }
  }

  @media(min-width: 601px) and (max-width: 900px){
    .box {
      background-color: white;
    }
    
    .topRow, .bottomRow{
      justify-content: space-between;
    }
  }

  @media(min-width: 901px){
    .box {
      background-color: white;
    }

    .topRow, .bottomRow{
      justify-content: space-between;
    }

    .container{
      background-color: #2DFFFE;
    }
  }